#e167_6 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.550000011920929);
	width:1445px;
	height:2329px;
	position:absolute;
}
#e11_1 { 
	background-image:linear-gradient(0deg, rgba(224.000001847744, 234.00000125169754, 252.00000017881393, 1) 0%,rgba(207.00000286102295, 222.00000196695328, 243.00000071525574, 1) 100%) ;
	width:1445px;
	height:2329px;
	position:absolute;
	left:0px;
	top:0px;
}
#e167_0 { 
	width:131px;
	height:56px;
	position:absolute;
	left:1251px;
	top:7px;
}
#ei167_0_16_6 { 
	color:rgba(0, 32.044999077916145, 61.62499822676182, 1);
	width:131px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
#e167_1 { 
	width:217px;
	height:56px;
	position:absolute;
	left:928px;
	top:7px;
}
#ei167_1_16_7 { 
	color:rgba(0, 32.044999077916145, 61.62499822676182, 1);
	width:217px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
#e167_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:571px;
	height:63px;
	position:absolute;
	left:57px;
	top:4px;
}
#ei167_2_15_77 { 
	color:rgba(0, 32.044999077916145, 61.62499822676182, 1);
	width:494px;
	height:56px;
	position:absolute;
	left:77px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
#ei167_2_16_54 { 
	width:69px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#ei167_2_16_55 { 
	width:69px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei167_2_16_56 { 
	background-color:rgba(3.4531179070472717, 73.4824937582016, 138.1250050663948, 1);
	width:51.75px;
	height:47.25px;
	position:absolute;
	left:8.625px;
	top:7.875px;
}
#e167_3 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.550000011920929);
	width:493px;
	height:735px;
	position:absolute;
	left:55px;
	top:1218px;
}
#ei167_3_29_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:434px;
	height:662px;
	position:absolute;
	left:0px;
	top:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#ei167_3_31_2 { 
	width:309px;
	height:254px;
	position:absolute;
	left:37px;
	top:72px;
}
#ei167_3_31_3 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	opacity:0.18000000715255737;
	width:293.3685302734375px;
	height:253.9342498779297px;
	position:absolute;
	left:7.830628395080566px;
	top:-0.005988189484924078px;
}
#ei167_3_31_4 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:84.42127990722656px;
	height:169.47801208496094px;
	position:absolute;
	left:52.33619689941406px;
	top:40.650630950927734px;
}
#ei167_3_31_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:84.44082641601562px;
	height:169.64767456054688px;
	position:absolute;
	left:49.384002685546875px;
	top:43.572845458984375px;
}
#ei167_3_31_6 { 
	width:73.86370086669922px;
	height:160.32107543945312px;
	position:absolute;
	left:55.249305725097656px;
	top:48.11883544921875px;
}
#ei167_3_31_7 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:73.86370086669922px;
	height:160.32107543945312px;
	position:absolute;
	left:55.249305725097656px;
	top:48.11883544921875px;
}
#ei167_3_31_8 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.2800000011920929;
	width:35.38731384277344px;
	height:38.594688415527344px;
	position:absolute;
	left:71.14427185058594px;
	top:124.2066879272461px;
}
#ei167_3_31_9 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.2800000011920929;
	width:53.00279235839844px;
	height:14.115837097167969px;
	position:absolute;
	left:67.44912719726562px;
	top:93.13902282714844px;
}
#ei167_3_31_10 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.2800000011920929;
	width:53.00279235839844px;
	height:14.115852355957031px;
	position:absolute;
	left:67.44912719726562px;
	top:72.28509521484375px;
}
#ei167_3_31_11 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(202.00000315904617, 202.00000315904617, 202.00000315904617, 1) 100%) ;
	width:11.339584350585938px;
	height:1.0235023498535156px;
	position:absolute;
	left:87.54756164550781px;
	top:49.3841552734375px;
}
#ei167_3_31_12 { 
	transform: rotate(-0.6107536287034023deg);
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(202.00000315904617, 202.00000315904617, 202.00000315904617, 1) 100%) ;
	width:2.4634475708007812px;
	height:2.473458766937256px;
	position:absolute;
	left:83.30874633789062px;
	top:48.511077880859375px;
}
#ei167_3_31_13 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:31.18389892578125px;
	height:24.116348266601562px;
	position:absolute;
	left:227.65008544921875px;
	top:199.6262664794922px;
}
#ei167_3_31_14 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:31.18389892578125px;
	height:24.116348266601562px;
	position:absolute;
	left:227.65008544921875px;
	top:199.6262664794922px;
}
#ei167_3_31_15 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:25.707855224609375px;
	height:61.51695251464844px;
	position:absolute;
	left:222.2572021484375px;
	top:141.22247314453125px;
}
#ei167_3_31_16 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 12.999999523162842%,rgba(0, 0, 0, 0.3199999928474426) 25%,rgba(0, 0, 0, 0) 100%) ;
	width:25.707855224609375px;
	height:61.51695251464844px;
	position:absolute;
	left:222.2572021484375px;
	top:141.22247314453125px;
}
#ei167_3_31_17 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:26.67822265625px;
	height:73.43653869628906px;
	position:absolute;
	left:238.436279296875px;
	top:129.02569580078125px;
}
#ei167_3_31_18 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 12.999999523162842%,rgba(0, 0, 0, 0.3199999928474426) 25%,rgba(0, 0, 0, 0) 100%) ;
	width:26.67822265625px;
	height:73.43653869628906px;
	position:absolute;
	left:238.436279296875px;
	top:129.02569580078125px;
}
#ei167_3_31_19 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:43.559661865234375px;
	height:11.024002075195312px;
	position:absolute;
	left:221.47198486328125px;
	top:191.3316192626953px;
}
#ei167_3_31_20 { 
	background-color:rgba(253.0000001192093, 185.00000417232513, 169.00000512599945, 1);
	width:8.565673828125px;
	height:15.3388671875px;
	position:absolute;
	left:168.7345733642578px;
	top:195.8466033935547px;
}
#ei167_3_31_21 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:12.174789428710938px;
	height:7.5538330078125px;
	position:absolute;
	left:166.74986267089844px;
	top:206.27906799316406px;
}
#ei167_3_31_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.444198608398438px;
	height:9.600906372070312px;
	position:absolute;
	left:166.92466735839844px;
	top:203.25863647460938px;
}
#ei167_3_31_23 { 
	background-color:rgba(253.0000001192093, 185.00000417232513, 169.00000512599945, 1);
	width:8.487869262695312px;
	height:17.16473388671875px;
	position:absolute;
	left:186.1796875px;
	top:199.09616088867188px;
}
#ei167_3_31_24 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:12.41058349609375px;
	height:9.793121337890625px;
	position:absolute;
	left:184.41175842285156px;
	top:209.17898559570312px;
}
#ei167_3_31_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.605941772460938px;
	height:11.958755493164062px;
	position:absolute;
	left:184.4207000732422px;
	top:206.17236328125px;
}
#ei167_3_31_26 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:26.9039306640625px;
	height:50.74665832519531px;
	position:absolute;
	left:166.421142578125px;
	top:150.4340057373047px;
}
#ei167_3_31_27 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:24.214080810546875px;
	height:51.786102294921875px;
	position:absolute;
	left:180.39154052734375px;
	top:152.715576171875px;
}
#ei167_3_31_28 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:12.708145141601562px;
	height:23.216766357421875px;
	position:absolute;
	left:170.0137481689453px;
	top:111.17829895019531px;
}
#ei167_3_31_29 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:28.854766845703125px;
	height:49.56158447265625px;
	position:absolute;
	left:179.17294311523438px;
	top:106.94207763671875px;
}
#ei167_3_31_30 { 
	background-color:rgba(2.000000118277967, 2.000000118277967, 2.000000118277967, 1);
	opacity:0.10000000149011612;
	width:25.618667602539062px;
	height:46.0762939453125px;
	position:absolute;
	left:183.30982971191406px;
	top:110.99972534179688px;
}
#ei167_3_31_31 { 
	background-color:rgba(253.0000001192093, 185.00000417232513, 169.00000512599945, 1);
	width:10.888687133789062px;
	height:19.459556579589844px;
	position:absolute;
	left:187.776123046875px;
	top:90.86582946777344px;
}
#ei167_3_31_32 { 
	background-color:rgba(249.00000035762787, 105.00000134110451, 45.00000111758709, 1);
	width:18.499069213867188px;
	height:19.391014099121094px;
	position:absolute;
	left:187.97731018066406px;
	top:84.60968017578125px;
}
#ei167_3_31_33 { 
	background-color:rgba(222.00000196695328, 159.0000057220459, 147.00000643730164, 1);
	width:3.7446746826171875px;
	height:4.9682769775390625px;
	position:absolute;
	left:191.91085815429688px;
	top:103.28878021240234px;
}
#ei167_3_31_34 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:14.096267700195312px;
	height:12.433845520019531px;
	position:absolute;
	left:160.19911193847656px;
	top:122.04674530029297px;
}
#ei167_3_31_35 { 
	background-color:rgba(2.000000118277967, 2.000000118277967, 2.000000118277967, 1);
	opacity:0.10000000149011612;
	width:19.883377075195312px;
	height:9.911170959472656px;
	position:absolute;
	left:160.19911193847656px;
	top:124.61180877685547px;
}
#ei167_3_31_36 { 
	background-color:rgba(253.0000001192093, 185.00000417232513, 169.00000512599945, 1);
	width:8.579147338867188px;
	height:12.201858520507812px;
	position:absolute;
	left:153.6986083984375px;
	top:114.74773406982422px;
}
#ei167_3_31_37 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:67.13818359375px;
	height:73.22330474853516px;
	position:absolute;
	left:211.03173828125px;
	top:40.215248107910156px;
}
#ei167_3_31_38 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:44.224395751953125px;
	height:48.232704162597656px;
	position:absolute;
	left:165.82980346679688px;
	top:16.12021827697754px;
}
#ei167_3_31_39 { 
	background-color:rgba(253.0000001192093, 185.00000417232513, 169.00000512599945, 1);
	width:6.6098175048828125px;
	height:10.936393737792969px;
	position:absolute;
	left:184.9372100830078px;
	top:101.70149230957031px;
}
#ei167_3_31_40 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:23.213653564453125px;
	height:27.422935485839844px;
	position:absolute;
	left:186.18653869628906px;
	top:109.12975311279297px;
}
#ei167_3_31_41 { 
	border:1.2330422401428223px solid rgba(255, 255, 255, 1);
	width:44.302581787109375px;
	height:31.963233947753906px;
	position:absolute;
	left:223.4857177734375px;
	top:58.979515075683594px;
}
#ei167_3_31_42 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.4684906005859375px;
	height:10.832099914550781px;
	position:absolute;
	left:229.624755859375px;
	top:80.11064910888672px;
}
#ei167_3_31_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.4684906005859375px;
	height:21.685531616210938px;
	position:absolute;
	left:241.90277099609375px;
	top:69.25721740722656px;
}
#ei167_3_31_44 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.468505859375px;
	height:30.918411254882812px;
	position:absolute;
	left:253.10552978515625px;
	top:60.02433776855469px;
}
#ei167_3_31_45 { 
	width:32.46678161621094px;
	height:31.719648361206055px;
	position:absolute;
	left:171.7452850341797px;
	top:22.7478084564209px;
}
#ei167_3_31_46 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.79205322265625px;
	height:22.732330322265625px;
	position:absolute;
	left:0px;
	top:8.987314224243164px;
}
#ei167_3_31_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.48583984375px;
	height:16.75041389465332px;
	position:absolute;
	left:16.980941772460938px;
	top:0px;
}
#ei167_3_31_48 { 
	background-color:rgba(255, 255, 255, 1);
	width:73.76596069335938px;
	height:80.45178985595703px;
	position:absolute;
	left:98.88716125488281px;
	top:108.00118255615234px;
}
#ei167_3_31_49 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	opacity:0.4099999964237213;
	width:51.106353759765625px;
	height:40.44978332519531px;
	position:absolute;
	left:108.27163696289062px;
	top:127.89556884765625px;
}
#ei167_3_31_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:47.05928039550781px;
	height:32.837493896484375px;
	position:absolute;
	left:110.63731384277344px;
	top:132.5653076171875px;
}
#ei167_3_31_51 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:47.43074035644531px;
	height:19.702468872070312px;
	position:absolute;
	left:110.46134948730469px;
	top:132.11752319335938px;
}
#ei167_3_31_52 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.0724029541015625px;
	height:2.2602386474609375px;
	position:absolute;
	left:156.7190399169922px;
	top:137.3416748046875px;
}
#ei167_3_31_53 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.0723876953125px;
	height:2.26025390625px;
	position:absolute;
	left:142.896484375px;
	top:144.74075317382812px;
}
#ei167_3_31_54 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.0724029541015625px;
	height:2.2602386474609375px;
	position:absolute;
	left:109.60110473632812px;
	top:143.80255126953125px;
}
#ei167_3_31_55 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.0724029541015625px;
	height:2.2602386474609375px;
	position:absolute;
	left:138.81031799316406px;
	top:140.92393493652344px;
}
#ei167_3_31_56 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.0724029541015625px;
	height:2.2602386474609375px;
	position:absolute;
	left:117.75387573242188px;
	top:135.550537109375px;
}
#ei167_3_31_57 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.072418212890625px;
	height:2.26025390625px;
	position:absolute;
	left:128.97616577148438px;
	top:150.30606079101562px;
}
#ei167_3_31_58 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.0724029541015625px;
	height:2.26025390625px;
	position:absolute;
	left:152.1245574951172px;
	top:131.4351806640625px;
}
#ei167_3_31_59 { 
	background-color:rgba(253.0000001192093, 185.00000417232513, 169.00000512599945, 1);
	width:5.9985809326171875px;
	height:4.63006591796875px;
	position:absolute;
	left:153.94639587402344px;
	top:106.311767578125px;
}
#ei167_3_31_60 { 
	color:rgba(0, 32.044999077916145, 61.62499822676182, 1);
	width:404px;
	height:21px;
	position:absolute;
	left:20px;
	top:357px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
#ei167_3_31_62 { 
	color:rgba(3.4531179070472717, 73.4824937582016, 138.1250050663948, 1);
	width:408px;
	height:225px;
	position:absolute;
	left:15px;
	top:409px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
#e167_4 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5899999737739563);
	width:474px;
	height:735px;
	position:absolute;
	left:511px;
	top:1236px;
}
#ei167_4_31_63 { 
	background-color:rgba(255, 255, 255, 1);
	width:434px;
	height:662px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#ei167_4_32_0 { 
	color:rgba(0, 32.044999077916145, 61.62499822676182, 1);
	width:360px;
	height:21px;
	position:absolute;
	left:54px;
	top:331px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#ei167_4_31_64 { 
	width:309px;
	height:254px;
	position:absolute;
	left:82px;
	top:40px;
}
#ei167_4_31_65 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	opacity:0.18000000715255737;
	width:288.132568359375px;
	height:254.13926696777344px;
	position:absolute;
	left:10.41919231414795px;
	top:-0.03320853039622307px;
}
#ei167_4_31_66 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:193.375244140625px;
	height:204.46673583984375px;
	position:absolute;
	left:57.365638732910156px;
	top:19.30577850341797px;
}
#ei167_4_31_67 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.8858642578125px;
	height:49.733428955078125px;
	position:absolute;
	left:135.3544921875px;
	top:66.12161254882812px;
}
#ei167_4_31_68 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:40.89378356933594px;
	height:106.4559097290039px;
	position:absolute;
	left:63.41502380371094px;
	top:111.53099822998047px;
}
#ei167_4_31_69 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:11.186698913574219px;
	height:103.24842071533203px;
	position:absolute;
	left:62.931068420410156px;
	top:111.53099822998047px;
}
#ei167_4_31_70 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:40.89378356933594px;
	height:53.227935791015625px;
	position:absolute;
	left:111.121337890625px;
	top:164.7589569091797px;
}
#ei167_4_31_71 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:40.89378356933594px;
	height:148.78244018554688px;
	position:absolute;
	left:157.7666778564453px;
	top:69.2044448852539px;
}
#ei167_4_31_72 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:29.28594970703125px;
	height:15.522903442382812px;
	position:absolute;
	left:163.00869750976562px;
	top:68.76162719726562px;
}
#ei167_4_31_73 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:40.89378356933594px;
	height:193.28115844726562px;
	position:absolute;
	left:204.74703979492188px;
	top:24.68541717529297px;
}
#ei167_4_31_74 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:11.186676025390625px;
	height:190.07373046875px;
	position:absolute;
	left:205.4171142578125px;
	top:24.68541717529297px;
}
#ei167_4_31_75 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:11.186660766601562px;
	height:145.65618896484375px;
	position:absolute;
	left:157.7666778564453px;
	top:69.10293579101562px;
}
#ei167_4_31_76 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:11.18670654296875px;
	height:49.715972900390625px;
	position:absolute;
	left:111.06550598144531px;
	top:165.0431671142578px;
}
#ei167_4_31_77 { 
	background-color:rgba(255, 186.0000041127205, 168.0000051856041, 1);
	width:11.766616821289062px;
	height:6.1750030517578125px;
	position:absolute;
	left:132.0214080810547px;
	top:158.26133728027344px;
}
#ei167_4_31_78 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:13.606033325195312px;
	height:4.4953155517578125px;
	position:absolute;
	left:131.69122314453125px;
	top:160.40805053710938px;
}
#ei167_4_31_79 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:16.856674194335938px;
	height:55.1571044921875px;
	position:absolute;
	left:118.45484924316406px;
	top:104.28372192382812px;
}
#ei167_4_31_80 { 
	background-color:rgba(255, 186.0000041127205, 168.0000051856041, 1);
	width:11.432464599609375px;
	height:7.5215606689453125px;
	position:absolute;
	left:118.78627014160156px;
	top:157.31155395507812px;
}
#ei167_4_31_81 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:12.199722290039062px;
	height:50.199867248535156px;
	position:absolute;
	left:117.1666259765625px;
	top:109.08805084228516px;
}
#ei167_4_31_82 { 
	background-color:rgba(255, 186.0000041127205, 168.0000051856041, 1);
	width:7.7925567626953125px;
	height:16.329063415527344px;
	position:absolute;
	left:120.25462341308594px;
	top:71.64590454101562px;
}
#ei167_4_31_83 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.69903564453125px;
	height:31.73895263671875px;
	position:absolute;
	left:116.64178466796875px;
	top:82.20925903320312px;
}
#ei167_4_31_84 { 
	background-color:rgba(255, 104.00000140070915, 28.000000230968, 1);
	width:17.35503387451172px;
	height:32.379791259765625px;
	position:absolute;
	left:107.93743896484375px;
	top:68.59244537353516px;
}
#ei167_4_31_85 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:12.682723999023438px;
	height:4.2129974365234375px;
	position:absolute;
	left:118.20005798339844px;
	top:160.89007568359375px;
}
#ei167_4_31_86 { 
	background-color:rgba(255, 255, 255, 1);
	width:18.301040649414062px;
	height:11.741409301757812px;
	position:absolute;
	left:122.56462097167969px;
	top:80.65392303466797px;
}
#ei167_4_31_87 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.04571533203125px;
	height:29.29364013671875px;
	position:absolute;
	left:162.27346801757812px;
	top:32.98833084106445px;
}
#ei167_4_31_88 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.020828247070312px;
	height:29.29364013671875px;
	position:absolute;
	left:182.9879150390625px;
	top:32.98833084106445px;
}
#ei167_4_31_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:22.969833374023438px;
	height:30.67528533935547px;
	position:absolute;
	left:167.74307250976562px;
	top:32.49989318847656px;
}
#ei167_4_31_90 { 
	background-color:rgba(253.0000001192093, 167.00000524520874, 155.00000596046448, 1);
	width:3.834381103515625px;
	height:9.58828353881836px;
	position:absolute;
	left:177.2921905517578px;
	top:27.75079345703125px;
}
#ei167_4_31_91 { 
	background-color:rgba(253.0000001192093, 167.00000524520874, 155.00000596046448, 1);
	width:9.8074951171875px;
	height:14.519527435302734px;
	position:absolute;
	left:171.69158935546875px;
	top:19.40420913696289px;
}
#ei167_4_31_92 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:25.128173828125px;
	height:16.341907501220703px;
	position:absolute;
	left:166.64529418945312px;
	top:48.57912063598633px;
}
#ei167_4_31_93 { 
	opacity:0.10000000149011612;
	width:25.128173828125px;
	height:16.341907501220703px;
	position:absolute;
	left:166.64529418945312px;
	top:48.57912063598633px;
}
#ei167_4_31_94 { 
	background-color:rgba(2.000000118277967, 2.000000118277967, 2.000000118277967, 1);
	opacity:0.10000000149011612;
	width:25.128173828125px;
	height:16.341907501220703px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei167_4_31_95 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:9.345489501953125px;
	height:5.534149169921875px;
	position:absolute;
	left:172.1347198486328px;
	top:73.62995147705078px;
}
#ei167_4_31_96 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:20.7608642578125px;
	height:17.128890991210938px;
	position:absolute;
	left:177.6222381591797px;
	top:58.742591857910156px;
}
#ei167_4_31_97 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:7.088897705078125px;
	height:7.9397125244140625px;
	position:absolute;
	left:178.65097045898438px;
	top:72.31041717529297px;
}
#ei167_4_31_98 { 
	background-color:rgba(246.0000005364418, 150.0000062584877, 92.00000211596489, 1);
	width:5.7889556884765625px;
	height:5.8927459716796875px;
	position:absolute;
	left:176.10092163085938px;
	top:71.41719818115234px;
}
#ei167_4_31_99 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:20.130035400390625px;
	height:17.065845489501953px;
	position:absolute;
	left:160.14732360839844px;
	top:58.53364944458008px;
}
#ei167_4_31_100 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:12.682464599609375px;
	height:14.525344848632812px;
	position:absolute;
	left:170.53111267089844px;
	top:16.778043746948242px;
}
#ei167_4_31_101 { 
	background-color:rgba(255, 186.0000041127205, 168.0000051856041, 1);
	width:6.092376708984375px;
	height:5.8155517578125px;
	position:absolute;
	left:138.53817749023438px;
	top:76.57352447509766px;
}
#ei167_4_31_102 { 
	background-color:rgba(255, 255, 255, 1);
	width:205.43679809570312px;
	height:15.265975952148438px;
	position:absolute;
	left:50.050567626953125px;
	top:211.1253204345703px;
}
#ei167_4_34_0 { 
	color:rgba(1.3414040207862854, 56.44637010991573, 107.31249645352364, 1);
	width:386px;
	height:281px;
	position:absolute;
	left:37px;
	top:350px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#e167_5 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.550000011920929);
	width:434px;
	height:662px;
	position:absolute;
	left:969px;
	top:1236px;
}
#ei167_5_41_2 { 
	width:434px;
	height:662px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei167_5_41_2_34_1 { 
	background-color:rgba(255, 255, 255, 1);
	width:434px;
	height:662px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#ei167_5_36_41 { 
	color:rgba(0, 32.044999077916145, 61.62499822676182, 1);
	width:368.9915466308594px;
	height:56px;
	position:absolute;
	left:23.805908203125px;
	top:299.6285705566406px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
#ei167_5_36_0 { 
	width:282.924072265625px;
	height:228.7727813720703px;
	position:absolute;
	left:56.76792907714844px;
	top:18.91428565979004px;
}
#ei167_5_36_1 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	opacity:0.18000000715255737;
	width:233.42437744140625px;
	height:228.7607421875px;
	position:absolute;
	left:24.743589401245117px;
	top:0.05651083588600159px;
}
#ei167_5_36_2 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:82.93606567382812px;
	height:172.0638427734375px;
	position:absolute;
	left:81.56210327148438px;
	top:26.53841781616211px;
}
#ei167_5_36_3 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:79.67096710205078px;
	height:167.44711303710938px;
	position:absolute;
	left:83.2021713256836px;
	top:28.701526641845703px;
}
#ei167_5_36_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:75.29252624511719px;
	height:161.5884552001953px;
	position:absolute;
	left:85.39895629882812px;
	top:30.78337287902832px;
}
#ei167_5_36_5 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:73.12576293945312px;
	height:159.8928985595703px;
	position:absolute;
	left:87.56562805175781px;
	top:32.478885650634766px;
}
#ei167_5_36_6 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:20.64373779296875px;
	height:37.69293212890625px;
	position:absolute;
	left:99.7833480834961px;
	top:142.11935424804688px;
}
#ei167_5_36_7 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.7300000190734863;
	width:27.51995849609375px;
	height:18.304656982421875px;
	position:absolute;
	left:118.57637023925781px;
	top:162.297607421875px;
}
#ei167_5_36_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:47.215782165527344px;
	height:40.287628173828125px;
	position:absolute;
	left:102.46161651611328px;
	top:127.32089233398438px;
}
#ei167_5_36_9 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.7300000190734863;
	width:66.4752426147461px;
	height:51.75314712524414px;
	position:absolute;
	left:90.09343719482422px;
	top:62.11668014526367px;
}
#ei167_5_36_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:61.224037170410156px;
	height:42.01915740966797px;
	position:absolute;
	left:93.16292572021484px;
	top:67.92801666259766px;
}
#ei167_5_36_11 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:61.675384521484375px;
	height:25.198577880859375px;
	position:absolute;
	left:92.95228576660156px;
	top:67.3791732788086px;
}
#ei167_5_36_12 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.6481781005859375px;
	height:2.8411026000976562px;
	position:absolute;
	left:102.34126281738281px;
	top:71.80223846435547px;
}
#ei167_5_36_13 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.6481781005859375px;
	height:2.841094970703125px;
	position:absolute;
	left:117.28238677978516px;
	top:90.5760726928711px;
}
#ei167_5_36_14 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.6481781005859375px;
	height:2.8411026000976562px;
	position:absolute;
	left:129.84617614746094px;
	top:78.662841796875px;
}
#ei167_5_36_15 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.6481475830078125px;
	height:2.8411026000976562px;
	position:absolute;
	left:135.14254760742188px;
	top:83.55403900146484px;
}
#ei167_5_36_16 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.648193359375px;
	height:2.841094970703125px;
	position:absolute;
	left:147.02920532226562px;
	top:66.5074691772461px;
}
#ei167_5_36_17 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:2.6481781005859375px;
	height:2.8410873413085938px;
	position:absolute;
	left:153.06285095214844px;
	top:74.32048034667969px;
}
#ei167_5_36_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:48.05836868286133px;
	height:51.55943298339844px;
	position:absolute;
	left:54.28287887573242px;
	top:101.29475402832031px;
}
#ei167_5_36_19 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:27.805835723876953px;
	height:29.83148956298828px;
	position:absolute;
	left:63.58159255981445px;
	top:110.4153060913086px;
}
#ei167_5_36_20 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:14.941123962402344px;
	height:18.40612030029297px;
	position:absolute;
	left:77.4694595336914px;
	top:107.57066345214844px;
}
#ei167_5_36_21 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0.9999999776482582%,rgba(0, 0, 0, 0.6899999976158142) 7.999999821186066%,rgba(0, 0, 0, 0.3199999928474426) 20.999999344348907%,rgba(0, 0, 0, 0) 100%) ;
	width:71.16168212890625px;
	height:14.952865600585938px;
	position:absolute;
	left:133.54576110839844px;
	top:190.17584228515625px;
}
#ei167_5_36_22 { 
	background-color:rgba(160.00000566244125, 104.00000140070915, 91.00000217556953, 1);
	width:8.914291381835938px;
	height:12.673721313476562px;
	position:absolute;
	left:163.81884765625px;
	top:186.8489227294922px;
}
#ei167_5_36_23 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:11.570907592773438px;
	height:4.738189697265625px;
	position:absolute;
	left:161.6011962890625px;
	top:197.1010284423828px;
}
#ei167_5_36_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.123779296875px;
	height:6.868804931640625px;
	position:absolute;
	left:162.00013732910156px;
	top:193.92092895507812px;
}
#ei167_5_36_25 { 
	background-color:rgba(160.00000566244125, 104.00000140070915, 91.00000217556953, 1);
	width:8.873672485351562px;
	height:12.660842895507812px;
	position:absolute;
	left:174.98280334472656px;
	top:188.7989044189453px;
}
#ei167_5_36_26 { 
	background-color:rgba(104.00000140070915, 225.00000178813934, 253.0000001192093, 1);
	width:11.572128295898438px;
	height:4.738189697265625px;
	position:absolute;
	left:172.73435974121094px;
	top:199.00582885742188px;
}
#ei167_5_36_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.182647705078125px;
	height:6.8688201904296875px;
	position:absolute;
	left:173.05926513671875px;
	top:195.8903350830078px;
}
#ei167_5_36_28 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:12.54150390625px;
	height:48.99275207519531px;
	position:absolute;
	left:173.5260009765625px;
	top:143.9434814453125px;
}
#ei167_5_36_29 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:12.40789794921875px;
	height:51.12358093261719px;
	position:absolute;
	left:165.46658325195312px;
	top:140.48895263671875px;
}
#ei167_5_36_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.081527709960938px;
	height:18.180801391601562px;
	position:absolute;
	left:159.2916717529297px;
	top:109.76960754394531px;
}
#ei167_5_36_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:22.85137939453125px;
	height:38.742149353027344px;
	position:absolute;
	left:166.60040283203125px;
	top:106.48152923583984px;
}
#ei167_5_36_32 { 
	background-color:rgba(2.000000118277967, 2.000000118277967, 2.000000118277967, 1);
	opacity:0.10000000149011612;
	width:10.648193359375px;
	height:34.09587860107422px;
	position:absolute;
	left:179.55966186523438px;
	top:111.57080841064453px;
}
#ei167_5_36_33 { 
	background-color:rgba(160.00000566244125, 104.00000140070915, 91.00000217556953, 1);
	width:8.662109375px;
	height:15.21478271484375px;
	position:absolute;
	left:173.5460205078125px;
	top:94.02210998535156px;
}
#ei167_5_36_34 { 
	background-color:rgba(71.00000336766243, 63.000000044703484, 71.00000336766243, 1);
	width:12.095504760742188px;
	height:14.126945495605469px;
	position:absolute;
	left:173.5128173828125px;
	top:89.85417938232422px;
}
#ei167_5_36_35 { 
	background-color:rgba(125.00000014901161, 68.00000354647636, 60.00000022351742, 1);
	width:3.029510498046875px;
	height:3.9872207641601562px;
	position:absolute;
	left:176.5955047607422px;
	top:103.58699035644531px;
}
#ei167_5_36_36 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.227569580078125px;
	height:9.866447448730469px;
	position:absolute;
	left:151.4829864501953px;
	top:118.20755767822266px;
}
#ei167_5_36_37 { 
	background-color:rgba(2.000000118277967, 2.000000118277967, 2.000000118277967, 1);
	opacity:0.10000000149011612;
	width:15.813796997070312px;
	height:7.688102722167969px;
	position:absolute;
	left:151.4829864501953px;
	top:120.42371368408203px;
}
#ei167_5_36_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.715774536132812px;
	height:30.620040893554688px;
	position:absolute;
	left:181.971435546875px;
	top:111.14418029785156px;
}
#ei167_5_36_39 { 
	background-color:rgba(160.00000566244125, 104.00000140070915, 91.00000217556953, 1);
	width:4.69049072265625px;
	height:7.9842071533203125px;
	position:absolute;
	left:185.4919891357422px;
	top:140.9668731689453px;
}
#ei167_5_36_40 { 
	background-color:rgba(160.00000566244125, 104.00000140070915, 91.00000217556953, 1);
	width:7.2529296875px;
	height:5.829093933105469px;
	position:absolute;
	left:145.98069763183594px;
	top:114.87105560302734px;
}
#ei167_5_37_0 { 
	color:rgba(3.4531179070472717, 73.4824937582016, 138.1250050663948, 1);
	width:353.4261474609375px;
	height:243.18365478515625px;
	position:absolute;
	left:34.79324722290039px;
	top:353.066650390625px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
